In [20]:
os.getcwd()

'/home/phanmanhtung/Desktop/internship'

In [23]:
os.chdir('/home/phanmanhtung/Desktop')
os.getcwd()

'/home/phanmanhtung/Desktop'

In [24]:
print(os.listdir())

['ICT 3rd year', 'Documents', 'struct.c', '.~lock.ytuong.doc#', 'SecondYear', 'scoring-sophomore.ods', '.ipynb_checkpoints', 'uWINNER!!.md', 'test', 'Tools.ipynb', 'internship', 'Test']

In [25]:
# get the home directory
print(os.environ.get("HOME"))

/home/phanmanhtung

In [26]:
# join 2 paths together
os.path.join(os.environ.get("HOME"), "TEST")

'/home/phanmanhtung/TEST'

In [29]:
# get the basename
print(os.path.basename("/tmp/test.txt"))
print(os.path.dirname("/tmp/test.txt"))
print(os.path.split("/tmp/test.txt"))

test.txt
/tmp
('/tmp', 'test.txt')

# Real Work

In [30]:
path = os.path.join(os.environ.get("HOME"), "TEST")
os.listdir(path)

['July', 'April', 'August', 'March', 'October', 'February', 'June', 'January']

In [38]:
path = os.path.join(os.environ.get("HOME"), "TEST/August")
print(os.listdir(path))
file_path = os.path.join(path, os.listdir(path)[0])
# ? how many files they gonna have
file_path

['CAR_HISTORICALDATA.xlsx']

'/home/phanmanhtung/TEST/August/CAR_HISTORICALDATA.xlsx'

In [39]:
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_excel(file_path)
df.columns=['time','value']
df.head()

        time     value
0 1998-03-01  0.144047
1 1998-04-01  0.113069
2 1998-05-01  0.152788
3 1998-06-01  0.113146
4 1998-07-01  0.132997